@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0; margin: 0;
    font-family: Poppins;
    color: #FFFFFFFF;
}

body {
    flex-direction: row;
    display: flex;
}

main {
    background-color: #1E1E1EFF;
    flex-grow: 1; height: 100dvh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#output_canvas {
    border: 1px solid #FFFFFFFF;
}

.btn_style_primary {
    border: none; border-radius: 12px;
    background-color: #2AAB2AFF;
    flex-grow: 1; padding: 10px;
}
.btn_style_primary:hover {
    background-color: #30D430FF;
}
.btn_style_secondary {
    border: 2px solid #2AAB2AFF;
    background-color: #2E2E2EFF;
    flex-grow: 1; padding: 10px;
    border-radius: 12px;
    margin-left: 10px;
}
.btn_style_secondary:hover {
    background-color: #3E3E3EFF;
}

#sizeSelector {
    position: absolute;
    left: 0; top: 0;
    height: 100dvh;
    display: none;
    width: 350px;
    z-index: 2;
}