nav {
    border-right: 1px solid #AAAAAAFF;
    background-color: #1E1E1EFF;
    height: 100dvh; width: 350px;
    flex-direction: column;
    padding: 20px;
    display: flex;
}

.navsection {
    flex-direction: column;
    margin-bottom: 20px;
    display: flex;
}

.navsection > h3 {
    border-bottom: 1px solid #AAAAAAFF;
    margin-bottom: 20px;
    line-height: 0.1em;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}
.navsection > h3 > span {
    background: #1E1E1EFF;
    padding-right: 10px;
}

.navsection button,
.navsection input[type="color"],
.navsection input[type="number"] {
    border: none; border-radius: 12px;
    background-color: #2E2E2EFF;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 64px;
    flex-grow: 1;
}
.navsection button:hover,
.navsection input[type="color"]:hover {
    background-color: #3E3E3EFF;
}

.navsection button > span {
    padding-left: 10px;
    font-size: 16px;
}
.navsection button > span:nth-of-type(2) {
    color: #AAAAAAFF;
}

.navsection > div {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
}
.navsection > div > input[type="color"]:nth-of-type(1),
.navsection > div > button {
    margin-right: 10px;
}

.navsection > div > input[type="color"]::-webkit-color-swatch {
    border: none; border-radius: 10px;
    margin: 2px 4px;
}

.navsection > input[type="range"] {
    background-color: #2e2e2eFF;
    -webkit-appearance: none;
    border-radius: 12px;
    overflow: hidden;
    appearance: none;
    width: 310px;
}
.navsection > input[type="range"]::-webkit-slider-runnable-track {
    appearance: none; -webkit-appearance: none;
    background-color: #2E2E2EFF;
}
.navsection > input[type="range"]::-webkit-slider-runnable-track:hover {
    background-color: #3E3E3EFF;
}
.navsection > input[type="range"]::-webkit-slider-thumb {
    background-color: #2AAB2AFF;
    width: 16px; height: 16px;
    -webkit-appearance: none;
    border-radius: 50%;
    appearance: none;
}
.navsection > input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #30D430FF;
}

#debugMode {
    background-color: #2E2E2EFF;
    border: 1px solid #AAAAAAFF;
    width: 20px; height: 20px;
    -webkit-appearance: none;
    border-radius: 12px;
    appearance: none;
}

#debugMode:checked {
    background-color: #30D430FF;
}

.debugModeDiv {
    margin-bottom: 10px;
    align-items: center;
}

.debugModeDiv label {
    padding-top: 2px;
    padding-left: 6px;
}

.navsection input[type="number"] {
    padding-left: 10px;
    height: 40px;
    width: 150px;
}
.navsection input[type="number"]:nth-of-type(1) {
    margin-right: 5px;
}
.navsection input[type="number"]:nth-of-type(2) {
    margin-left: 5px;
}